/* CSS Document */

/* Global */
h1, h2, h3, h4, h5, h6 {
	font-family:"Lato", sans-serif;
	color:#FFFFFF;
	letter-spacing:8px;
	text-align:center;
	text-transform:uppercase;
}

.row-equal{
	display:flex;
	flex-direction:row;
}

/* Home */

.content #name-break {
	width:85%;
}

.content #name {
	font-size:60px;
	font-weight:300;
}

#head-title {
	font-family:"Lato", sans-serif;
	font-weight:300;
	font-size:30px;
}

/* About Me */
#profile-crop {
	height:200px;
	width:200px;
	border-radius:100%;
	overflow:hidden;
	margin: 10px auto;
}

#profile-img {
	height:190%;
}

.contact-header {
	color: #000000;
	font-weight:bold;
	margin-left:20px;
	margin-right:20px;
}

.contact-header > span {
	font-weight:normal;	
	float:right;
}

.contact-header > a {
	font-weight:normal;	
	float:right;
}

.intro-title {
	margin-top:10%;
}

.intro-text {
	line-height:25px;
	font-size:1.25em;
	text-align:justify;
}
