/* Background */

body {
	background: url(/images/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Fonts */
@font-face {
	font-family: "Slim Joe";
	src:
		local("Slim Joe")
		local("Slim-Joe")
		url(../fonts/Slim%20Joe.ttf)
		format("truetype");
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family:"Slim Joe";
	color:#FFFFFF;
	letter-spacing:5px;
	text-align:center;
	text-transform:uppercase;
	/*Chrome Fix*/
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	50%{	opacity: 0.8; }
	to{	opacity: 1; }
}

h1 {
	font-size:50px;
	font-style:bold;
}

/* Content */
.page {
	display:table;	
	height:100vh;
}

.row-vertical-middle {
	display:table-cell;
	vertical-align:middle;
}

.text {
	margin-top: 30vh;
}

.loader {
		margin:auto;
}

/* Animations */
